<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# <h1>{{title}}</h1> #}
        {% block body %}
            <ul>
                {% for key,line in items %}
                    <li>key: {{key}} -> value {{line}}</li>
                {% endfor %}
            </ul>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
